body {
    font-family: Arial, sans-serif;
    background-image: url('images/fundo.jpeg');
    background-size: cover;   /* Faz a imagem cobrir todo o corpo */
    background-position: center;
    margin: 0;
    padding: 0;
    margin-top: 50px;
}

.containes {
    display: flex; /* Mantém os contêineres lado a lado */
    justify-content: center; /* Centraliza os contêineres horizontalmente */
    gap: 10px; /* Define o espaço entre os contêineres */
}

.container, .container2 {
    width: 80%;
    max-width: 600px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.3); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    flex-direction: column; /* Coloca os itens em coluna */
}

select {
    width: 80%; /* Define a largura do select */
    max-width: 600px; /* Limita a largura máxima */
    padding: 10px; /* Adiciona um preenchimento interno */
    border: 2px solid #ccc; /* Borda leve */
    border-radius: 5px; /* Bordas arredondadas */
    background-color: rgba(255, 255, 255, 0.6); /* Fundo branco com leve transparência */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra para dar profundidade */
    font-size: 16px; /* Tamanho da fonte */
    font-family: Arial, sans-serif; /* Fonte padrão */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
}

select:focus {
    border-color: #4f7196; /* Cor da borda ao focar */
    outline: none; /* Remove o contorno padrão */
    box-shadow: 0 0 5px rgba(128, 176, 228, 0.5); /* Sombra ao focar */
}

option {
    padding: 10px; /* Adiciona um preenchimento nas opções */
    background-color: rgba(255, 255, 255, 0.6);; /* Fundo das opções */
}

option:hover {
    background-color: rgba(103, 166, 235, 0.2); /* Efeito de destaque ao passar o mouse */
}


h1, h2 {
    text-align: center;
    color: #ffffff;
}

form {
    margin-bottom: 20px;
}

input[type="text"],
input[type="email"] {
    width: 96%;
    padding: 10px;
    margin: 10px 0;
    background: rgba(255, 255, 255, 0.6); /* Fundo branco com 80% de opacidade */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #971897;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

button:hover {
    background-color: #811281;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: rgba(255, 255, 255, 0.6); /* Fundo branco com 80% de opacidade */
    padding: 10px; /* Ajuste o preenchimento conforme necessário */
    border-radius: 4px; /* Bordas arredondadas para cada item */
    margin: 5px 0; /* Espaço entre os itens */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
