body {
    font-family: Arial, sans-serif;
    background-image: url('images/fundo.jpeg');
    background-size: cover;   
    background-position: center;
    margin: 0;
    padding: 0;
    margin-top: 50px;
}

.containes {
    display: flex; 
    justify-content: center; 
    gap: 10px; 
}

.container, .container2 {
    width: 80%;
    max-width: 600px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.3); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

select {
    width: 80%; 
    max-width: 600px; 
    padding: 10px; 
    border: 2px solid #ccc; 
    border-radius: 5px; 
    background-color: rgba(255, 255, 255, 0.6); 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
    font-size: 16px; 
    font-family: Arial, sans-serif; 
    cursor: pointer; 
}

select:focus {
    border-color: #4f7196; 
    outline: none; 
    box-shadow: 0 0 5px rgba(128, 176, 228, 0.5); 
}

option {
    padding: 10px; 
    background-color: rgba(255, 255, 255, 0.6);
}

option:hover {
    background-color: rgba(103, 166, 235, 0.2); 
}

h1, h2 {
    text-align: center;
    color: #ffffff;
}

form {
    margin-bottom: 20px;
}

input[type="text"],
input[type="email"] {
    width: 96%;
    padding: 10px;
    margin: 10px 0;
    background: rgba(255, 255, 255, 0.6); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #971897;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

button:hover {
    background-color: #811281;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: rgba(255, 255, 255, 0.6); 
    padding: 10px; 
    border-radius: 4px; 
    margin: 5px 0; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
