<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciamento de Contatos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Gerenciamento de Contatos</h1>
    <div class="containes">
        <div class="container">
            <form id="contatoForm">
                <h2>Adicionar Contato</h2>
                <input type="text" id="id" name="id" placeholder="Id" required>
                <input type="text" id="nome" name="nome" placeholder="Nome" required>
                <input type="text" id="telefone" name="telefone" placeholder="Telefone" required>
                <input type="email" id="email" name="email" placeholder="Email" required>
                <button type="submit">Adicionar</button>
            </form>

            <h2>Lista de Contatos</h2>
            <ul id="contatoList">
            </ul>
        </div>

        <div class="container2">
            <form id="grupoForm">
                <h2>Adicionar Grupo</h2>
                <input type="text" id="idGrupo" name="idGrupo" placeholder="Id do Grupo" required>
                <input type="text" id="nomeGrupo" name="nomeGrupo" placeholder="Nome do Grupo" required>
                <h2 for="contatosGrupo">Selecione os contatos (máximo 10)</h2>
                <select id="contatosGrupo" multiple required>
                </select>
                <button type="button" id="addContatoBtn">Selecionar Contato</button>
                
                <h2>Contatos Selecionados</h2>
                <ul id="selectedContactsList">
                </ul>
                
                <button type="submit">Adicionar Grupo</button>

                <h2>Lista de Grupos</h2>
                <ul id="grupoList">
                </ul>
                
            </form>
        </div>
        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </div>
</body>
</html>
